#
# Actions CPU si or isp driver and the camera sensors of Actions support 
#
# 

config ARK7116
	tristate "ARK7116 camera sensor driver"
	depends on VIDEO_V4L2 && I2C
	help
	  Support for ARK7116 module

	  To compile this driver as a module, choose M here: the
	  module will be called ARK7116.
