config SND_SOC_ACT_OWL
	tristate
	depends on SND_SOC

config SND_SOC_ACT_2603C
	tristate
	depends on SND_SOC_ACT_OWL

config SND_SOC_ACT_NAU85L40
	tristate
	depends on SND_SOC_ACT_OWL

config SND_SOC_ACT_DAI_OWL_I2S
	tristate
	depends on SND_SOC_ACT_OWL


config SND_SOC_ACT_DAI_OWL_HDMI
	tristate
	depends on SND_SOC_ACT_OWL

config SND_SOC_ACT_DAI_OWL_SPI
	tristate
	depends on SND_SOC_ACT_OWL

config SND_SOC_ACT_DAI_OWL_I2S_6WIRE
	tristate
	depends on SND_SOC_ACT_OWL

config SND_SOC_ACT_ALL_PMU_OWL
	tristate "SoC Audio support for all pmus owl board(new)"
	select SND_SOC_ACT_OWL
	select SND_SOC_ACT_DAI_OWL_I2S
	select SND_SOC_ACT_2603C
	help
	  Say Y if you want to add support for SoC audio on 
	  S500 board.

config SND_SOC_ACT_ALL_PMU_OWL_6WIRE
	tristate "SoC Audio support for all pmus and 6wire codec on owl  board"
	select SND_SOC_ACT_OWL
	select SND_SOC_ACT_DAI_OWL_I2S_6WIRE
	select SND_SOC_ACT_2603C
	help
	  Say Y if you want to add support for SoC audio on 
	  S500 board.
	  
config SND_SOC_ACT_ALL_PMU_OWL_3605_NAU85L40
	tristate "SoC Audio support for all pmus and nau85l40 on owl 3605 board"
	select SND_SOC_ACT_OWL
	select SND_SOC_ACT_DAI_OWL_I2S
	select SND_SOC_ACT_DAI_OWL_SPI
	select SND_SOC_ACT_2603C
	select SND_SOC_ACT_NAU85L40
	help
	  Say Y if you want to add support for SoC audio on 
	  S500 board.
	  
config SND_SOC_ACT_OWL_HDMI
	tristate "SoC Audio support for OWL HDMI"
	select SND_SOC_ACT_OWL
	select SND_SOC_ACT_DAI_OWL_HDMI
	help
	  Say Y if you want to add support for SoC HDMI audio on 
	  owl board.
