config DRM_OWL
	tristate "DRM Support for Owl Soc"
	depends on DRM
	select DRM_KMS_HELPER
	select FB_SYS_FILLRECT
	select FB_SYS_COPYAREA
	select FB_SYS_IMAGEBLIT
	select FB_SYS_FOPS
	select VT_HW_CONSOLE_BINDING if FRAMEBUFFER_CONSOLE
	default n
	help
	  Choose this option if you have a Owl SoC chipset.
	  If M is selected the module will be called owldrm.

config DRM_OWL_LCD
	  bool "Owl DRM LCD"
	  depends on DRM_OWL 
	  select FB_MODE_HELPERS
	  select VIDEOMODE_HELPERS
	  help
	  Choose this option if you want to use Owl LCD for DRM.

config DRM_OWL_HDMI
	bool "Owl DRM HDMI"
	depends on DRM_OWL
	help
	  Choose this option if you want to use Owl HDMI for DRM.

config DRM_OWL_HDMI_FAKE_LCD_MODE
	bool "Owl DRM HDMI Fake The LCD Mode Support"
	depends on DRM_OWL_LCD && DRM_OWL_HDMI
	help
	  Choose this option if you want HDMI fake the lcd resolution(mode) support.
	  It may be helpful in Xorg dual screen extension.
