#
# Actions CPU si or isp driver and the camera sensors of Actions support 
#
# 

config S5K4EC
	tristate "s5k4ec camera sensor driver"
	depends on VIDEO_V4L2 && I2C
	help
	  Support for s5k4ec camera

	  To compile this driver as a module, choose M here: the
	  module will be called s5k4ec.
