config USB_LEGACY_AOTG_UDC
	tristate "Actions legacy usb2.0 udc support"
	depends on USB_LEGACY
	default n
	---help---
	  The Actions chips have USB2.0 otg controllers. Enable
	  this option if your board uses this chip. If unsure, say N.

	  To compile this driver as a module, choose M here.

config USB_LEGACY_AOTG_ADFU
	tristate "Actions legacy usb2.0 udc_adfu support"
	depends on USB_LEGACY
	default n
	---help---
	  The Actions chips have USB2.0 otg controllers. Enable
	  this option if your board uses this chip. If unsure, say N.

	  To compile this driver as a module, choose M here.