/*
 * Copyright (C) 2014 Actions Semi. Inc
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation version 2.
 *
 * This program is distributed "as is" WITHOUT ANY WARRANTY of any
 * kind, whether express or implied; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

 /* reserve 8MB for ion(pmem) */
/memreserve/ 0x3000000 0x800000;

#include "ats3605.dtsi"

/ {
	model = "ats3605";
	compatible = "actions,ats3605";

	chosen {
		bootargs="console=ttyS5,115200 earlyprintk no_console_suspend loglevel=8 clk_ignore_unused";
	};
	
	cpus {
		CPU0: cpu@0 {
			cpuvdd-supply = <&dcdc1>;
		};
	};
	ion_config {
		compatible = "actions,ats3605-ion";
		actions,ion_heap_pmem = <0x3000000 0x800000>;
	};
	//FOR BT
	serial2: uart@b0164000 {
		dmas = <&dma DMA_DRQ_UART2>, <&dma DMA_DRQ_UART2>;
		dma-names = "tx", "rx";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&serial2_state_default>;
	};
	serial3: uart@b0166000 {
		status = "okay";
	};

	serial5: uart@b016a000 {
		status = "okay";
		//pinctrl-names = "default";
		//pinctrl-0 = <&serial5_state_default>;
	};


	//spi0: spi@b0300000 {
	//	status = "okay";
	//	pinctrl-names = "default";
	//	pinctrl-0 = <&spi0_state_default>;
 	//	m25p80@0 {
	//		compatible = "mx25l12805d";
	//		reg = <0>;
	//		spi-max-frequency = <10000000>;
    //        partition@0 {
    //        	reg = <0x0 0x80000>;
    //        	label = "u-boot(512k)";
    //        };
    //        
    //        partition@80000 {
    //        	reg = <0x80000 0x20000>;
    //        	label = "misc info(128k)";
    //        };
    //        
    //        partition@a0000 {
    //        	reg = <0xa0000 0xf60000>;
    //        	label = "others(16000k)";
    //        };
	//	};         
    //};

    i2c1: i2c@b0184000 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c1_default>;
		i2c_num = <1>;
		clock-frequency = <400000>;
		status = "okay";
		nau85l40@1c {
			compatible = "actions,nau85l40";
			status = "okay";
			reg = <0x1c>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2s1_state_default>;
		};
	};
	
	i2c2: i2c@b0188000{
		i2c_num = <0>;
		clock-frequency = <400000>;
		status = "okay";
		/* atc2603c (5307) */
		atc260x: atc2603c@65 {
			compatible = "actions,atc2603c";
			reg = <0x65>;
			interrupt-parent = <&sirq>;
			interrupts =< 2 0x4 >;
			interrupt-controller;
			#interrupt-cells = <1>;

			losc_32k_output_enable = <1>;    /* enable/disable output 32.768K clock via I2S_MCLK1 pin */
			losc_32k_output_voltage = <18>;  /* select voltage scale of the 32.768K clock output, 18:1.8v, 31:3.1v */
			board_flag = <1>;
			pm {
				compatible = "actions,atc2603c-pm";
			};

			onoff {
				compatible = "actions,atc2603c-onoff";
			};

			rtc{
				compatible = "actions,atc2603c-rtc";
			};

			atc260x_gpio: atc260x_gpio {
				compatible = "actions,atc2603c-gpio";
				gpio-controller;
				#gpio-cells = <2>;
			};

			atc260x_sgpio: atc260x_sgpio {
				compatible = "actions,atc2603c-sgpio";
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
			};

			atc260x-adckeypad{
#define KEY_MODE		0x175
#define KEY_LEFT		105
#define KEY_RIGHT		106
#define KEY_ESC			1
#define KEY_MENU		139
#define KEY_DOWN		108
#define KEY_UP			103
#define KEY_VOLUMEDOWN	114
#define KEY_VOLUMEUP	115
#define KEY_PLAY		207
				keymapsize = <10>;                   /* number of ADC key */
				filter_dep = <3>;                   /* depth of the moving average filter (length of filter queue) */
				variance = <10>;                    /* filter will not output until the difference between every two ADC samples in the filter queue goes below this value */
				poll_interval =  <10>;              /* sample period, in ms */
				left_adc_val =  <0 51 168 267 342 459 576 699 801 901>;     /* for key code translator, each value defines a lower bound of ADC value of a key */
				right_adc_val = <50 167 266 341 458 575 698 800 900 970>;   /* for key code translator, each value defines a upper bound of ADC value of a key */
				key_val = <KEY_PLAY KEY_VOLUMEUP KEY_VOLUMEDOWN KEY_UP KEY_DOWN KEY_MENU KEY_ESC KEY_RIGHT KEY_LEFT KEY_MODE>; /* for key code translator, each value defines the key_code of a key */
				adc_channel_name = "REMCON";          /* the ADC channel used for sampling, valid names are REMCON AUX0 AUX1 AUX2 (AUX3) */
				compatible = "actions,atc2603c-adckeypad";
				status = "okay";                /* enable/disable ADC key function (okay or disabled) */
			};


			/*the cfg params must be read	in the first installed ko,
			 now snd-soc-atv5302.ko is first installed.
			 1, earphone_detect_level use the third value of earphone_gpios
			 2, commonly, we shouldn't change the value of speaker_gain and earphone_gain*/
			atc260x-audio{
				compatible = "actions,atc2603c-audio";
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&i2s0_state_default>;
				//earphone_detect_gpios = <&gpio 21 0>; /*0: high, 1: low GPIOA21 0*/
				speaker_en_gpios = <&gpiob 6 0>; /*GPIOB(0) 0: high, 1: low*/
				//speaker_mode_gpios = <&gpiob 1 1>; /*GPIOB(1) 0: high, 1: low*/
				earphone_output_mode = <0>; /*0: direct mode, 1: undirect mode*/
				mic_num = <1>; /*just suport 1, 2*/
				mic0_gain = < 0x7 0x7 >; /*<Lchannel,Rchannel> [0x0~0xF]*/
				speaker_gain = < 0xaa 0xaa >; /*<Lchannel,Rchannel>[0x00~0xbebe]*/
				earphone_gain = < 0xbe 0xbe >; /*<Lchannel,Rchannel>[0x00~0xbebe]*/
				mic_mode = <2>; /* 1: differential,  2: single end*/
				speaker_volume = < 0x28 0x28 >; /*volume [0x00~0x28]*/
				earphone_volume = < 0x28 0x28 >; /*volume [0x00~0x28]*/
				earphone_detect_method = <2>; /*0:gpio, 1:irq, 2:adc*/
				adc_plugin_threshold = <741>; /*adc earphone detect plugin threshold value*/
				adc_level = <0>; /*adc plugin level, 1:high vol when plugin; 0:low vol when plug in*/
				adc_num = <0>;/*use 2603C_PMU_AUXADC0*/
				record_source = <1>;/* 1:fm ,2:mic*/
			};

			atc260x-hwmon{
				compatible = "actions,atc2603c-hwmon";
			};

		
			dcdc1: dcdc1 {
				compatible = "actions,atc2603c-dcdc1","actions,atc2603c-dcdc";
				regulator-name = "dcdc1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1400000>;
				regulator-always-on;
			};

			dcdc2: dcdc2 {
				compatible = "actions,atc2603c-dcdc2","actions,atc2603c-dcdc";
				regulator-name = "dcdc2";
				regulator-min-microvolt = <1400000>;
				regulator-max-microvolt = <2200000>;
				regulator-always-on;
			};

			dcdc3: dcdc3 {
				compatible = "actions,atc2603c-dcdc3","actions,atc2603c-dcdc";
				regulator-name = "dcdc3";
				regulator-min-microvolt = <2600000>;
				regulator-max-microvolt = <3100000>;
			};

			dcdc4: dcdc4 {
				compatible = "actions,atc2603c-dcdc4","actions,atc2603c-dcdc";
				regulator-name = "dcdc4";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
			};

			dcdc5: dcdc5 {
				status = "disabled";
			};

			ldo1: ldo1{
				compatible = "actions,atc2603c-ldo1","actions,atc2603c-ldo";
				regulator-name = "ldo1";
				regulator-min-microvolt  = <2600000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo2: ldo2{
				compatible = "actions,atc2603c-ldo2","actions,atc2603c-ldo";
				regulator-name = "ldo2";
				regulator-min-microvolt  = <2600000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo3: ldo3{
				compatible = "actions,atc2603c-ldo3","actions,atc2603c-ldo";
				regulator-name = "ldo3";
				regulator-min-microvolt  = <1500000>;
				regulator-max-microvolt = <2000000>;
			};

			ldo4: ldo4{
				compatible = "actions,atc2603c-ldo4","actions,atc2603c-ldo";
				regulator-name = "ldo4";
				regulator-min-microvolt  = <2800000>;
				regulator-max-microvolt = <3500000>;
			};

			ldo5: ldo5{
				compatible = "actions,atc2603c-ldo5","actions,atc2603c-ldo";
				regulator-name = "ldo5";
				regulator-min-microvolt  = <2600000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo6: ldo6{
				compatible = "actions,atc2603c-ldo6","actions,atc2603c-ldo";
				regulator-name = "ldo6";
				regulator-min-microvolt  = <700000>;
				regulator-max-microvolt = <1400000>;
			};

			ldo7: ldo7{
				compatible = "actions,atc2603c-ldo7","actions,atc2603c-ldo";
				regulator-name = "ldo7";
				regulator-min-microvolt  = <1500000>;
				regulator-max-microvolt = <2000000>;
			};

			ldo8: ldo8{
				compatible = "actions,atc2603c-ldo8","actions,atc2603c-ldo";
				regulator-name = "ldo8";
				regulator-min-microvolt  = <2300000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
			};

			ldo9: ldo9{
				compatible = "actions,atc2603c-ldo9","actions,atc2603c-ldo";
				regulator-name = "ldo9";
				regulator-min-microvolt  = <1000000>;
				regulator-max-microvolt = <1500000>;
			};

			ldo10: ldo10{
				compatible = "actions,atc2603c-ldo10","actions,atc2603c-ldo";
				regulator-name = "ldo10";
				regulator-min-microvolt  = <2300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo11: ldo11{
				compatible = "actions,atc2603c-ldo11","actions,atc2603c-ldo";
				regulator-name = "ldo11";
				regulator-min-microvolt  = <2600000>;
				regulator-max-microvolt = <3300000>;
			};

			switch1:switch1{
				compatible = "actions,atc2603c-switch1","actions,atc2603c-switch";
				regulator-name = "switch1";
				regulator-min-microvolt  = <3000000>;
				regulator-max-microvolt = <3300000>;
			};

			switch2:switch2{
				status = "disabled";
			};
		};
	};

	mmc0: mmc@b0348000 {
		card-type = "emmc";
		status = "disabled";
	};

	mmc1: mmc@b0344000 {
		card-type = "wifi";
		pinctrl-names = "pinctrl_mmc1";
		pinctrl-0 = <&mm1_pinctrl_state_lcd0>;
		status = "okay";
	};

	mmc2: mmc@b0340000 {
		card-type = "memory";  		/* only: "memory", "wifi", or "emmc" */
		card-detect-mode = "command";  /* only:"gpio", or "command" */
		//cd-gpios = <&gpiod 24 0>; 	/*hr280ac GPIOD24 */
		sd_vcc = "switch1";
		status = "okay";
	};

	wifi_bt_power_ctl {
		compatible = "wifi,bt,power,ctl";
		wifi_bt_power_gpios = <&gpioc 25 0>;  		/* GPIOC25, high active */
		wifi_en_gpios= <&gpioc 23 0>;				/* GPIOC23, high active */
		bt_en_gpios = <&gpiob 11 0>; 				/* GPIOB11, high active */
		wifi_wakeup_host_gpios = <&gpioc 22 0>; 	/* GPIOC22 */
	};

	monitor {
		compatible = "actions,ats3605-usb-monitor";
		//adaptor_type = <>;	/* 1: DCIN; 2: USB; 3: both; default: both */
		detect_type = <1>; /* config what to detect, 0:DISABLE ; 1:DEVICE_ONLY; 2:HOST_ONLY; 3: HOST_AND_DEVICE */
		idpin_type   = <3>; /* 0: ic idpin; 1: soft idpin; 2: gpio idpin; 3: adc */
		vbus_type   = <20>; /* 0: ic vbus; 1: gpio detect; 2: gpio ctrl; 3: gpio detect & ctrl; 10: soft vbus; 20: DC5V */
		//idpin_gpio = <&gpiob 31 1>;   /* 1: low-active; 0: high-active */
		//vbus_det_gpio = <>;	/* detect gpio */
		//vbus_ctl_gpio = <>;	/* control gpio */
		otg_vbus_en = <&gpiob 9 0>;
		idpin_adc_threshold_min = <0>;
		idpin_adc_threshold_max = <500>;
		idpin_adc_threshold_min_2 = <900>;
		idpin_adc_threshold_max_2 = <1000>;
		status = "okay";
	};

	owl_usb_config {
		compatible = "actions,owl-usb-config";
		usb_serialnumber_config = <2>;		/* 0: fixed ascii; 1: fixed unicode; 2: non-fixed unicode */
		status = "okay";
	};

	usb2h0: usb@b0240000 {
		//power_en_gpio = <&gpiod 20 0>;	/* legacy configs, add for compatability */
		//wifi_power_en_gpio = <&gpiod 20 0>;
		//wifi_gpio = <&gpiod 20 0>;
		status = "okay";
	};

	usb2h1: usb@b0250000 {
		//power_en_gpio = <&gpiod 20 0>;
		//wifi_power_en_gpio = <&gpiod 20 0>;
		//wifi_gpio = <&gpiod 20 0>;
		status = "okay";
	};

	aotg_usb2_config {
		compatible = "actions,ats3605-usb2-config";
		ports_config = <0>;		/* aotg usb2 enable: 0: both enable, 1: enable usb2h0, 2: enable ush2h1 */
		//aotg0_host_plug_detect = <1>;	/* aotg0(usb2h0) uhost monitor: 0: disable, 1: enable */
		aotg1_host_plug_detect = <1>;	/* aotg1(usb2h1) uhost monitor: 0: disable, 1: enable */
		status = "okay";
	};

	owl-audio-spi@b0308000 {
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&spi2_state_lcd>;
		compatible = "actions,ats3605-audio-spi";
		reg = <0xb01c0000 0x100>,
		      <0xb0150000 0xf9>,
		      <0xb0308000 0x40>;
		reg-names = "mfp_base","cmu_base","spi2_base";
		clocks =  <&clock CLK_SPI2> , <&clock CLK_SPDIF> , <&clock CLK_AUDIO_PLL>;
		clock-names = "spi2" ,"spdif","audio_pll";
		dmas =  <&dma DMA_DRQ_SPI2>;
		dma-names = "spirx";
	};
};
