/*
 * Copyright (C) 2014 Actions Semi. Inc
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation version 2.
 *
 * This program is distributed "as is" WITHOUT ANY WARRANTY of any
 * kind, whether express or implied; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

/* reserve 48MB for logo(fb) */
/memreserve/ 0x19000000 0x03000000;

/* reserve 430MB for ion1(pmem) */
/memreserve/ 0x20000000 0x1AE00000;

/* reserve 4k for afinfo */
/memreserve/ 0x18FFF000 0x1000;

#include "s700.dtsi"

/ {
	model = "s700";
	compatible = "actions,s700";

	chosen {
		bootargs="fb_logo_reserve=0x19000000,0x03000000 console=ttyS5,115200 earlyprintk=serial-owl,0xe012a000 no_console_suspend";
	};

	memory@00000000 {
		device_type = "memory";
		reg = <0 0x00000000 0 0x20000000>;
	};

	ion_config {
		compatible = "actions,s900-ion";
		actions,ion_heap_pmem_base = <0x0 0x20000000>;
		actions,ion_heap_pmem_size = <0x0 0x1AE00000>;
	};

	mmc0: mmc@e0218000 {
		card-type = "emmc";
		status = "okay";
	};

	mmc1: mmc@e0214000 {
		status = "disable";
	};

	mmc2: mmc@e0210000 {
		card-type = "memory";  /* only: "memory", "wifi", or "emmc" */
		card-detect-mode = "gpio";  /* only:"gpio", or "command" */
		cd-gpios = <&gpiod 21 0>; /*hr280ac GPIOD21 */
		sd_vcc = "switch1";
		status = "okay";
	};

	serial3: uart@e0126000 {
		status = "okay";
	};
	serial5: uart@e012a000 {
		status = "okay";
	};

	i2c2: i2c@e0178000 {
		status = "okay";
	};


	pwm: pwm@e01b0000 {
		pwm0 {
			id = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwm0_state_default>;
		};
		pwm1 {
			id = <1>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwm1_state_default>;
		};
		pwm2 {
			id = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwm2_state_default>;
		};
	};

	backlight {
		compatible = "actions,owl-pwm-backlight";

		/* GPIOD28, active high */
		en-gpios = <&gpioa 23 1>;

		/*1.pwm num; 2. period in ns; */
		/*3.plarity, 0: high active, 1: low active*/
		pwms = <&pwm 0 50000 1>;

		total_steps = <1024>;
		min_brightness = <100>;
		max_brightness = <1000>;
		dft_brightness = <500>;

		delay_bf_pwm = <0>; /*in ms*/
		delay_af_pwm = <20>; /*in ms*/
	};

	dsi: dsi@e0310000 {
		status = "disabled";
	};

	lcd: lcd@e02a0000 {

		panel_configs = <&config0>;
		/*
		 * lcd_configs, used to configure lcd controller,
		 * its values should set according to lcd panel's spec.
		 * Currently, the configration is for fpga panel.
		 */
		config0: lcd_configs {
			port_type = <2>;	/* 0, RGB; 1, CPU; 2, LVDS; 3, EDP */

			vsync_inversion = <0>;
			hsync_inversion = <0>;
			dclk_inversion = <1>;
			lde_inversion = <0>;

			pclk_parent = <0>;	/* 0, DISPLAY PLL; 1, NAND PLL */
			pclk_rate = <66000000>;/* 66MHz, DISPLAY PLL, divider 16 */
		};

		/* lcd panel */
		panel_glp: lcd_panel {
			compatible = "actions,panel-glp";

			/* panel's fixed info */
			width_mm = <197>;
			height_mm = <147>;
			bpp = <24>;

			is_primary = <1>;

			/* operation delay in ms */
			power_on_delay = <0>;
			power_off_delay = <0>;
			enable_delay = <0>;
			disable_delay = <0>;

			power-gpio = <&gpiob 4 0>;/* GPIOA23, high power on */

			videomode-0 = <&mode0>;

			/* 800x1280p60 */
			mode0: videomode {
				refresh_rate = <60>;

				xres = <800>;
				yres = <1280>;
				/*
				 * pclk_rate = 66M
				 * pixel_clock = picoseconds / pclk_rate
				 */
				pixel_clock = <15152>;

				hsw = <12>;
				hbp = <20>;
				hfp = <40>;

				vsw = <2>;
				vbp = <10>;
				vfp = <33>;

				/* 0: FB_VMODE_NONINTERLACED, 1:FB_VMODE_INTERLACED */
				vmode = <0>;
			};
		};
	};

	ethernet_gpio_regulator: ethernet_gpio_regulator {
		compatible = "regulator-fixed";
		regulator-name = "ethernet_gpio_regulator";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpioc 21 0>;
		enable-active-high;
	};


	ethernet@e0220000 {
		pinctrl-names = "default";
		pinctrl-0 = <&ethernet_state_default>;
		random-mac-address = "okay";
		//local-mac-address = [ 00 18 fe 66 66 66 ];
		phy-mode = "rgmii";
		phy-handle = <&phy0>;
		phy-power-en = "ethernet_gpio_regulator";
		phy-reset-gpios = <&gpioc 20 0>; /* GPIOC20 active  1:low  0:high*/

		phy-addr = "1";
		address-bits = <48>;

		max-frame-size = <1518>;

		status = "disabled";

		phy0: ethernet-phy@0 {
			compatible = "RTL8211E,rtl8211e";/*rtl8211-1000M*/
			reg = <0>;
		};
	};

	hdmi@e02c0000 {
		hdcp_onoff = <0>;
		channel_invert = <0>;
		bit_invert = <0>;

		panel@ghp {
			compatible = "actions,panel-ghp";

			is_primary = <0>;
		};
	};

	monitor {
		compatible = "actions,s700-usbmonitor";
		detect_type = <3>; /* config what to detect, 0:DISABLE ; 1:DEVICE_ONLY; 2:HOST_ONLY; 3: HOST_AND_DEVICE*/
		idpin_type   = <0>; /* 0:use ic's idpin;      1:soft idpin,##no support!##;       2:gpio idpin,use gpio to detect,need to add a "idpin_gpio" configuration */
		vbus_type   = <2>; /* 0:use ic's vbuspin; 1:gpio vbus,##no support!## ;      2:use dc5v to detect vbus level*/

		/*vbus_otg_en_gpio is use to turn on/off otg vbus,it's different from vbus detect gpio;*/
		vbus_otg_en_gpios = <&gpioc 14 0>;  /* GPIOC14,  1: low active; 0: high active */
		//idpin_gpio = <&gpiob 31 1>;   /*if idpin detect by gpio,config the gpio to GPIOB31, input,0: low active; 1: high active*/
		status = "okay";
	};

	owl_usb_config {
		compatible = "actions,owl-usb-config";
		usb_serialnumber_config = <1>; /* config serialnumber string format, 0: fixed serial no in ascii format; 1: fixed serial no in unicode format; 2:non-fixed serial no in unicode format*/
		usb_hs_output_strength = <3>; /*defaut:3,range:0~7; 0:min,7:max;usb high speed(2.0)transmitter output strength*/
		status = "okay";
	};

 	usb2h0: usb@e01d0000 {
		port_host_plug_detect = <2>; /*0:disable 1:enable detect and vbus contrl 2:only detect 3:enable detect and usb0 and usb1 use the same gpio*/
		status = "okay";
	};

	usb2h1: usb@e01d8000 {
		vbus_otg_en_gpio =<&gpiod 20 0>; /*GPIO D20 1:high enable vubs,0:low enable vbus*/
		port_host_plug_detect = <0>; /*0:disable,for wifi/bt module 1:enable detect and vbus contrl 2:only detect 3:enable detect and usb0 and usb1 use the same gpio*/
		status = "okay";
	};
		wifi_bt_power_ctl {
                    compatible = "wifi,bt,power,ctl";
                    wifi_use_usb_port_number = <1>;
                    //bt_power_gpio = <&gpio 16 0>;/*GPIOA16, high active*/
                    //wifi_bt_power_gpios = <&gpio 14 0>;
                    //bt_en_gpios = <&gpio 17 0>;/*GPIOA17, high active*/
		};

		i2c0: i2c@e0170000 {
		i2c_num = <0>;
		clock-frequency = <400000>;
		status = "okay";
		/* atc2603c (5307) */
		atc260x: atc2603c@65 {
			compatible = "actions,atc2603c";
			reg = <0x65>;
			interrupt-parent = <&sirq>;
			interrupts =< 2 0x4 >;
			interrupt-controller;
			#interrupt-cells = <1>;

			losc_32k_output_enable = <1>;    /* enable/disable output 32.768K clock via I2S_MCLK1 pin */
			losc_32k_output_voltage = <18>;  /* select voltage scale of the 32.768K clock output, 18:1.8v, 31:3.1v */

			pm {
				compatible = "actions,atc2603c-pm";
			};

			onoff {
				compatible = "actions,atc2603c-onoff";
			};

			rtc{
				compatible = "actions,atc2603c-rtc";
			};

			atc260x_gpio: atc260x_gpio {
				compatible = "actions,atc2603c-gpio";
				gpio-controller;
				#gpio-cells = <2>;
			};

			atc260x_sgpio: atc260x_sgpio {
				compatible = "actions,atc2603c-sgpio";
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
			};

			atc260x-adckeypad{
#define KEY_HOME				172
#define KEY_MENU				139
#define KEY_BACK				158
#define KEY_VOLUMEDOWN				114
#define KEY_VOLUMEUP				115
				keymapsize = <5>;                   /* number of ADC key */
				filter_dep = <3>;                   /* depth of the moving average filter (length of filter queue) */
				variance = <10>;                    /* filter will not output until the difference between every two ADC samples in the filter queue goes below this value */
				poll_interval =  <10>;              /* sample period, in ms */
				left_adc_val =  <0 90 175 270 400>;     /* for key code translator, each value defines a lower bound of ADC value of a key */
				right_adc_val = <30 120 220 320 450>;   /* for key code translator, each value defines a upper bound of ADC value of a key */
				key_val = <KEY_HOME KEY_MENU KEY_VOLUMEUP KEY_VOLUMEDOWN KEY_BACK>; /* for key code translator, each value defines the key_code of a key */
				adc_channel_name = "AUX0";          /* the ADC channel used for sampling, valid names are REMCON AUX0 AUX1 AUX2 (AUX3) */
				compatible = "actions,atc2603c-adckeypad";
				status = "okay";                /* enable/disable ADC key function (okay or disabled) */
			};
			atc260x-irkeypad{
				compatible = "actions,atc2603c-irkeypad";
				status = "okay";
				config {
					size = <45>;
					user_code = <0xff40>;
					protocol = <1>;
					wk_code = <0x4D>;
					period = <140>;
					ir_code  =<0x0 0x01 0x02 0x03 0x04 0x05 0x06 0x07 0x08 0x09  0x0A  0x0B  0x0C  0x0D  0x0E  0x0F  0x10 0x11  0x12 0x13 0x14 0x15  0x16 0x17 0x18 0x19 0x1A  0x1B 0x1C  0x1D 0x1E 0x1F 0x40 0x41 0x42  0x43  0x44 0x45  0x46 0x47 0x4D  0x53 0x54  0x57 0x5B>;
					key_code =<11   2   3    4    5    6    7    8    9 	 10 	 100    103  126   353   108   52    105  106    14   60   63  115    80   61   65   76   172   78   114   97   79   75   77  81   158    113  65   139   64   71   116   72   175   82   73>;
				};
				config-1 {
					size = <45>;
					user_code = <0xff40>;
					protocol = <1>;
					wk_code = <0x4D>;
					period = <140>;
					ir_code  =<0x0 0x01 0x02 0x03 0x04 0x05 0x06 0x07 0x08 0x09  0x0A  0x0B  0x0C  0x0D  0x0E  0x0F  0x10 0x11  0x12 0x13 0x14 0x15  0x16 0x17 0x18 0x19 0x1A  0x1B 0x1C  0x1D 0x1E 0x1F 0x40 0x41 0x42  0x43  0x44 0x45  0x46 0x47 0x4D  0x53 0x54  0x57 0x5B>;
					key_code =<11   2   3    4    5    6    7    8    9 	 10 	 100    103  126   353   108   52    105  106    14   60   63  115    80   61   65   76   172   78   114   97   79   75   77  81   158    113  65   139   64   71   116   72   175   82   73>;
				};
			};

			/*the cfg params must be read	in the first installed ko,
			 now snd-soc-atv5302.ko is first installed.
			 1, earphone_detect_level use the third value of earphone_gpios
			 2, commonly, we shouldn't change the value of speaker_gain and earphone_gain*/
			atc260x-audio{
				compatible = "actions,atc2603c-audio";
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&i2s0_state_default>;
				clocks = <&clock CLK_AUDIO_PLL>, <&clock CLK_HDMI_AUDIO>;//
				clock-names = "audio_pll", "hdmia";//
				//earphone_detect_gpios = <&gpio 21 0>; /*0: high, 1: low GPIOA21 0*/
				speaker_en_gpios = <&gpiod 30 0>; /*GPIOD(30) 0: high, 1: low*/
				earphone_output_mode = <1>; /*0: direct mode, 1: undirect mode*/
				mic_num = <1>; /*just suport 1, 2*/
				mic0_gain = < 0x7 0x7 >; /*<Lchannel,Rchannel> [0x0~0xF]*/
				speaker_gain = < 0xaa 0xaa >; /*<Lchannel,Rchannel>[0x00~0xbebe]*/
				earphone_gain = < 0xbe 0xbe >; /*<Lchannel,Rchannel>[0x00~0xbebe]*/
				mic_mode = <2>; /* 1: differential,  2: single end*/
				speaker_volume = < 0x28 0x28 >; /*volume [0x00~0x28]*/
				earphone_volume = < 0x28 0x28 >; /*volume [0x00~0x28]*/
				earphone_detect_method = <2>; /*0:gpio, 1:irq, 2:adc*/
				adc_plugin_threshold = <850>; /*adc earphone detect plugin threshold value*/
				adc_level = <0>; /*adc plugin level, 1:high vol when plugin; 0:low vol when plug in*/
			};

			atc260x-hwmon{
				compatible = "actions,atc2603c-hwmon";
			};

			atc260x-charger{
				compatible = "actions,atc2603c-charger";
				rsense = <20>;/*unit:mohm*/
				bat_type = <1>;/*0:4.18v; 1:4.2v; 2:4.3v; 3:4.35v*/
				bl_on_current_usb_pc = <200>;
				bl_off_current_usb_pc = <500>;
				bl_on_current_usb_adp = <400>;
				bl_off_current_usb_adp = <800>;
				bl_on_current_wall_adp = <400>;
				bl_off_current_wall_adp = <1400>;
				support_adaptor_type = <3>; /*1: DCIN  2: USB  3:DCIN+USB*/
				ext_charger = <0>;
				usb_adapter_as_ac = <1>;/*0:usb ada keep itself; 1:usb ada used as DCIN when usb plug and batv<3.3v during minicharge*/
				usb_pc_ctl_mode = <1>; /*0:disable vbus ctl;1:current limited;2:voltage limited*/
			};

			vdd_gpu_dcdc: vdd-gpu-dcdc {
				compatible = "actions,atc2603c-ext-pwm-dcdc1","actions,atc2603c-ext-pwm-dcdc";
				regulator-name = "vdd-gpu-dcdc";
				regulator-min-microvolt  = <900000>;
				regulator-max-microvolt = <1250000>;
				regulator-always-on;
				pwms = <&pwm 1 2666 0>;	// 1-pwm1   2666-1/(24M/64)*1000000-1   0 -active high
				table_len = < 15 >;			//length of vdd_cpu_table & pwm_config_table
				vdd_cpu_table = <900000 925000 950000 975000 1000000 1025000 1050000 1075000 1100000 1125000 1150000 1175000 1200000 1225000 1250000>;	//uV
				pwm_config_table = <19 18 17 16 15 14 13 12 11 10 9 8 7 6 5>;	//the pwm period of 1.1v 1.2v 1.3v
			};

			vdd_core_dcdc: vdd-core-dcdc {
				compatible = "actions,atc2603c-ext-pwm-dcdc2","actions,atc2603c-ext-pwm-dcdc";
				regulator-name = "vdd-core-dcdc";
				regulator-min-microvolt  = <900000>;
				regulator-max-microvolt = <1250000>;
				regulator-always-on;
				pwms = <&pwm 2 2666 0>;	// 1-pwm1   2666-1/(24M/64)*1000000-1   0 -active high
				table_len = < 15 >;			//length of vdd_cpu_table & pwm_config_table
				vdd_cpu_table = <900000 925000 950000 975000 1000000 1025000 1050000 1075000 1100000 1125000 1150000 1175000 1200000 1225000 1250001>;	//uV
				pwm_config_table = <19 18 17 16 15 14 13 12 11 10 9 8 7 6 5>;	//the pwm period of 1.1v 1.2v 1.3v
			};

			dcdc1: dcdc1 {
				compatible = "actions,atc2603c-dcdc1","actions,atc2603c-dcdc";
				regulator-name = "dcdc1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1400000>;
				regulator-always-on;
			};

			dcdc2: dcdc2 {
				compatible = "actions,atc2603c-dcdc2","actions,atc2603c-dcdc";
				regulator-name = "dcdc2";
				regulator-min-microvolt = <1300000>;
				regulator-max-microvolt = <2200000>;
				regulator-always-on;
			};

			dcdc3: dcdc3 {
				compatible = "actions,atc2603c-dcdc3","actions,atc2603c-dcdc";
				regulator-name = "dcdc3";
				regulator-min-microvolt = <2600000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			dcdc4: dcdc4 {
				status = "disabled";
			};

			dcdc5: dcdc5 {
				status = "disabled";
			};

			ldo1: ldo1{
				compatible = "actions,atc2603c-ldo1","actions,atc2603c-ldo";
				regulator-name = "ldo1";
				regulator-min-microvolt  = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-always-on;
			};

			ldo2: ldo2{
				compatible = "actions,atc2603c-ldo2","actions,atc2603c-ldo";
				regulator-name = "ldo2";
				regulator-min-microvolt  = <2600000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			ldo3: ldo3{
				compatible = "actions,atc2603c-ldo3","actions,atc2603c-ldo";
				regulator-name = "ldo3";
				regulator-min-microvolt  = <1500000>;
				regulator-max-microvolt = <2000000>;
				regulator-always-on;
			};

			ldo4: ldo4{
				status = "disabled";
			};

			ldo5: ldo5{
				compatible = "actions,atc2603c-ldo5","actions,atc2603c-ldo";
				regulator-name = "ldo5";
				regulator-min-microvolt  = <2600000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo6: ldo6{
				compatible = "actions,atc2603c-ldo6","actions,atc2603c-ldo";
				regulator-name = "ldo6";
				regulator-min-microvolt  = <700000>;
				regulator-max-microvolt = <1400000>;
				regulator-always-on;
			};

			ldo7: ldo7{
				compatible = "actions,atc2603c-ldo7","actions,atc2603c-ldo";
				regulator-name = "ldo7";
				regulator-min-microvolt  = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-suspend-off;
			};

			ldo8: ldo8{
				compatible = "actions,atc2603c-ldo8","actions,atc2603c-ldo";
				regulator-name = "ldo8";
				regulator-min-microvolt  = <2300000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo9: ldo9{
				status = "disabled";
			};

			ldo10: ldo10{
				status = "disabled";
			};

			ldo11: ldo11{
				compatible = "actions,atc2603c-ldo11","actions,atc2603c-ldo";
				regulator-name = "ldo11";
				regulator-min-microvolt  = <2600000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			switch1:switch1{
				compatible = "actions,atc2603c-switch1","actions,atc2603c-switch";
				regulator-name = "switch1";
				regulator-min-microvolt  = <3000000>;
				regulator-max-microvolt = <3300000>;
			};

			switch2:switch2{
				status = "disabled";
			};
		};
	};

	i2c3: i2c@e017c000 {
		i2c_num = <3>;
		clock-frequency = <400000>;
		status = "okay";

		hdmi_read_edid@60 {
			compatible = "actions,hdmi_read_edid";
			reg = <0x60>;
		};
	};

	isp0: isp@0xe0268000 {
			mirror_flip = <3>;  /* bit-0:rear camera; bit-1:front camera; 0: no flip,no mirror; 1: no flip,horizontal mirror; 2:vertical flip,no mirror; 3: vertical flip,horizontal mirror */

			avdd-src = "regulator";  /* only: "gpio", "regulator" */
		        avdd-regulator = "ldo1"; /* only when vbus-src is "regulator" */
		        avdd-regulator-scope = <2800000 2810000>;  /* uV */
		        dvdd-regulator = "ldo7";
		        dvdd-regulator-scope = <1800000 1810000>;  /* uV */

			board_type = "evb";/* "ces" or "evb"*/
			sensors = "dual"; /* "dual", "front" or "rear" */
			pwdn-rear-gpios = <&gpioc 17 1>; /* GPIOA27 */
			pwdn-front-gpios = <&gpioc 15 1>; /* GPIOA26 */
			reset-gpios = <&gpioc 16 1>; /*GPIOB15*/
			pinctrl-names = "default";
			pinctrl-0 = <&isp0_state_csi_dvp>;

			status = "okay"; /* create platform-device */
		};

		sensors: isp-sensor {
			compatible = "sensor_common";
			i2c_adapter = <&i2c2>; /* 0-3 begin from enabled ones */

			status = "okay";
		};

	gpu@e0340000 {
		default_freq = <320>;

		operating-points = <240000 1050000
                            320000 1075000
                            400000 1100000
                            480000 1125000>;
        gpuvdd-supply = <&vdd_gpu_dcdc>;
    };
};
