/*
 * Copyright (C) 2014 Actions Semi. Inc
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation version 2.
 *
 * This program is distributed "as is" WITHOUT ANY WARRANTY of any
 * kind, whether express or implied; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

/* reserve 48MB for logo(fb) */
/memreserve/ 0x19000000 0x03000000;

/* reserve 512MB for ion1(pmem) */
/memreserve/ 0x20000000 0x20000000;

/* reserve 4k for afinfo */
/memreserve/ 0x18FFF000 0x1000;

#include "s900.dtsi"

/ {
	model = "s900";
	compatible = "actions,s900", "actions,s900-evb";

	chosen {
		bootargs="fb_logo_reserve=0x19000000,0x03000000 console=ttyS5,115200 earlyprintk=serial-owl,0xe012a000 no_console_suspend loglevel=4";
	};

	memory@00000000 {
		device_type = "memory";
		reg = <0 0x00000000 0 0x20000000>;
	};

	ion_config {
		compatible = "actions,s900-ion";
		actions,ion_heap_pmem_base = <0x0 0x20000000>;
		actions,ion_heap_pmem_size = <0x0 0x20000000>;
	};

	gpiod: gpiod@e01b0000 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_lvds_o>, <&pinctrl_gpio_lvds_e>;
	};

	pinctrl@e01b0000 {
		pinctrl_i2c4: i2c4 {
			i2c4_mfp {
				actions,groups = "mfp3_8";
				actions,function = "i2c4";
			};

			i2c4_paddrv {
				actions,groups = "paddrv1_9_8";
				actions,paddrv = <3>;/*level 0~3*/
			};
		};

		pinctrl_i2c0_default: i2c0 {
			i2c0_mfp {
				actions,groups = "mfp3_18_16";
				actions,function = "i2c0";
			};

			i2c0_pull {
				actions,pins = "P_I2C0_SCLK", "P_I2C0_SDATA";
				actions,pull = <2>; /*PULL UP*/
			};

			i2c0_paddrv {
				actions,groups = "paddrv2_31_30";
				actions,paddrv = <3>;/*level 0~3*/
			};
		};
		pinctrl_i2c1_default: i2c1 {
			i2c1_paddrv {
				actions,groups = "paddrv2_29_28";
				actions,paddrv = <3>;/*level 0~3*/
			};
		};

	};


	pwm: pwm@e01b0000 {
		pwm2 {
			id = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwm2_state_default>;
		};
	};


	mmc0: mmc@e0338000 {
		card-type = "emmc";
		status = "okay";
	};

	mmc1: mmc@e033c000 {
		card-type = "emmc";
		status = "disabled";
	};

	mmc2: mmc@e0334000 {
		card-type = "wifi";
		wifi-card-voltage = "1.8v";  /* only: "1.8v", "3.1v" */
		status = "okay";
	};

	mmc3: mmc@e0330000 {
		card-type = "memory";  /* only: "memory", "wifi", or "emmc" */
		card-detect-mode = "gpio";  /* only: "sirq", "gpio", or "command" */
		cd-gpios = <&gpiob 10 0>; /*GPIOBE14 */
		sd_vcc = "ldo0";
		status = "okay";
	};


	i2c0: i2c@e0170000  {
	  clock-frequency = <400000>;
		status = "okay";

	};


	i2c1: i2c@e0172000 {
		clock-frequency = <400000>;
		status = "okay";
		mpu6500@68 {
		compatible = "owl-gyrosensor";
		interrupt-parent = <&gpioa>;
		interrupts = <7>;
		gpios = <&gpioa 7 0>; /* GPIOA7 */
		i2c_adapter_id = <1>;
		/*gyro_vcc = "ldo7";*/
		/*vol_range = <1800000 1810000>;*/
		MASTER_inv6500_position = "-2";
		SECONDARY_ak8963c_position = "-2";
		};
	};

  i2c2: i2c@e0174000 {
		status = "okay";

		eta355c: eta355c-regulator {
			compatible = "eta,eta355c-regulator";
			reg = <0x60>;

			regulator-name = "eta355c";
			regulator-type = "voltage";
			regulator-min-microvolt = <700000>;
			regulator-max-microvolt = <1350000>;
			startup-delay-us = <1000>;	/* us */
			regulator-ramp-delay = <250>;	/* uV/us */
			enable-gpio = <&gpiod 3 0x4>;	/* GPIOD3 */
			enable-active-high;
		  };
	  };


	i2c3: i2c@e0176000 {
		status = "okay";
		/* atc2609a (5303) */
		atc260x: atc2609a@65 {
			compatible = "actions,atc2609a","actions,atc260x";
			reg = <0x65>;
			interrupt-parent = <&sirq>;
			interrupts = <2>;
			interrupt-controller;
			#interrupt-cells = <1>;

			losc_32k_output_enable = <1>;    /* enable/disable output 32.768K clock via AUXIN1 pin */

			pm {
				compatible = "actions,atc2609a-pm";
			};

			onoff {
				compatible = "actions,atc2609a-onoff";
			};

			rtc{
				compatible = "actions,atc2609a-rtc";
			};

			atc260x_gpio{
				compatible = "actions,atc2609a-gpio";
			};
			atc260x-adckeypad{
				#define KEY_UP			103
				#define KEY_DOWN		108
				#define KEY_LEFT		105
				#define KEY_RIGHT		106
				#define KEY_OK			353
				#define KEY_BACK		158
				#define KEY_VOLUME_UP	115
				#define KEY_VOLUME_DOWN	114
				#define KEY_MENU		139
				keymapsize = <9>;                   /* number of ADC key */
				filter_dep = <3>;                   /* depth of the moving average filter (length of filter queue) */
				variance = <15>;                    /* filter will not output until the difference between every two ADC samples in the filter queue goes below this value */
				poll_interval =  <20>;              /* sample period, in ms */
				left_adc_val =  <2400 2800 3650 3250 1500 1950 300 650 1050>;           /* for key code translator, each value defines a lower bound of ADC value of a key */
				right_adc_val = <2700 3200 3900 3500 1800 2250 550 950 1350>;          /* for key code translator, each value defines a upper bound of ADC value of a key */
				key_val = <KEY_UP KEY_DOWN KEY_LEFT KEY_RIGHT KEY_OK KEY_BACK KEY_VOLUME_UP KEY_VOLUME_DOWN KEY_MENU>; /* for key code translator, each value defines the key_code of a key */
				adc_channel_name = "REMCON";          /* the ADC channel used for sampling, valid names are REMCON AUX0 AUX1 AUX2 (AUX3) */
				compatible = "actions,atc2609a-adckeypad";
			};

			/*the cfg params must be read	in the first installed ko,
			 now snd-soc-atv5302.ko is first installed.
			 1, earphone_detect_level use the third value of earphone_gpios
			 2, commonly, we shouldn't change the value of speaker_gain and earphone_gain*/

			atc260x-audio{
				compatible = "actions,atc2609a-audio";
				status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&i2s0_state_default>;
				clocks = <&clock CLK_AUDIO_PLL>, <&clock CLK_HDMI_AUDIO>;
				clock-names = "audio_pll", "hdmia";
				earphone_detect_gpios = <&gpioa 3 0>; /*0: high, 1: low hr280ac GPIOB11 0*/
				speaker_en_gpios = <&gpioa 19 1>; /*hr280ac GPIOA(19) 0: high, 1: low*/
				earphone_output_mode = <1>; /*0: direct mode, 1: undirect mode*/
				mic_num = <1>; /*just suport 1, 2*/
				mic0_gain = < 0x7 0x7 >; /*<Lchannel,Rchannel> [0x0~0xF]*/
				speaker_gain = < 0xaa 0xaa >; /*<Lchannel,Rchannel>[0x00~0xbebe]*/
				earphone_gain = < 0xbe 0xbe >; /*<Lchannel,Rchannel>[0x00~0xbebe]*/
				speaker_volume = < 0x28 0x28 >; /*volume [0x00~0x28]*/
				earphone_volume = < 0x28 0x28 >; /*volume [0x00~0x28]*/
				earphone_detect_mode = <0>;  /*0: polling,   1: interrupt*/
			};

			atc260x-hwmon{
				compatible = "actions,atc2609a-hwmon";
			};

			atc260x-charger{
				compatible = "actions,atc2609a-charger";
				rsense = <20>;/*unit:mohm*/
				bat_type = <3>;/*0:4.18v; 1:4.2v; 2:4.3v; 3:4.35v*/
				bl_on_current_usb_pc = <200>;
				bl_off_current_usb_pc = <400>;
				bl_on_current_usb_adp = <200>;
				bl_on_current_usb_adp_high = <200>;
				bl_off_current_usb_adp = <1200>;
				bl_on_current_wall_adp = <200>;
				bl_off_current_wall_adp = <1400>;
				support_adaptor_type = <2>; /*1: DCIN  2: USB  3:DCIN+USB*/
				ext_charger = <0>;
				usb_adapter_as_ac = <1>;/*0:usb ada keep itself; 1:usb ada used as DCIN when usb plug and batv<3.3v during minicharge*/
				usb_pc_ctl_mode = <1>; /*0:disable vbus ctl;1:current limited;2:voltage limited*/
				wall_switch = <&gpioa 4 0>;/*GPIOA4,0: high, 1: low*/
			};
      atc2609a-battery{
				compatible = "actions,atc2609a-battery";
				ocv_table = <3616 3663 3677 3703 3722 3738 3758 3780 3810 3854 3908 3965 4035 4110 4207 4320>;/*mv*/
				r_table = <82 85 83 85 88 92 92 83 83 83 83 82 82 82 83 83>;/*mohm*/
				design_capacity = <4000>;/*unit:mAh*/
				taper_vol = <4320>;/*unit:mv*/
				taper_cur = <300>;/*unit:ma*/
				term_vol = <3400>;/*unit:mv*/
				ov_protect = <4375>;/*unit:mv*/
				sleep_current = <15000>;/*unit:ua*/
				shutdown_current = <50>;/*unit:ua*/
				boot_cap_threshold = <3>;
				bl_on_vol = <3300>;/*unit:mv*/
				print_switch = <0>;
				log_switch = <0>;
			};



			/* DCDC0       VDD_CORE
			 * DCDC1       VDD_CPU
			 * DCDC2       VDDR
			 * DCDC3       VCC
			 * DCDC4       VDD_CPUM
			 */
			dcdc0: dcdc0 {
				compatible = "actions,atc2609a-dcdc0","actions,atc2609a-dcdc";
				regulator-name = "dcdc0";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
			};

			dcdc1: dcdc1 {
				compatible = "actions,atc2609a-dcdc1","actions,atc2609a-dcdc";
				regulator-name = "dcdc1";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
			};

			dcdc2: dcdc2 {
				compatible = "actions,atc2609a-dcdc2","actions,atc2609a-dcdc";
				regulator-name = "dcdc2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1350000>;
				regulator-always-on;
			};

			dcdc3: dcdc3 {
				compatible = "actions,atc2609a-dcdc3","actions,atc2609a-dcdc";
				regulator-name = "dcdc3";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3500000>;
				regulator-always-on;
			};

			dcdc4: dcdc4 {
				compatible = "actions,atc2609a-dcdc4","actions,atc2609a-dcdc";
				regulator-name = "dcdc4";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
			};

 			/* LDO0        SD_VCC
			 * LDO1        WIFI_3V3
			 * LDO2        AVCC
			 * LDO3        ATC2609_VDD
			 * LDO4        AVCC_1V8
			 * LDO6        AVDD_1V0
			 * LDO7        VCC_1V8_IO
			 * LDO8        UNUSED
			 * LDO9        RTC_VDD     */

			ldo0: ldo0{
				compatible = "actions,atc2609a-ldo0","actions,atc2609a-ldo";
				regulator-name = "ldo0";
				regulator-min-microvolt  = <2300000>;
				regulator-max-microvolt = <3400000>;
				regulator-always-on;
			};

			ldo1: ldo1{
				compatible = "actions,atc2609a-ldo1","actions,atc2609a-ldo";
				regulator-name = "ldo1";
				regulator-min-microvolt  = <2300000>;
				regulator-max-microvolt = <3400000>;
			};

			ldo2: ldo2{
				compatible = "actions,atc2609a-ldo2","actions,atc2609a-ldo";
				regulator-name = "ldo2";
				regulator-min-microvolt  = <2300000>;
				regulator-max-microvolt = <3400000>;
				regulator-always-on;
			};

			ldo3: ldo3{
				compatible = "actions,atc2609a-ldo3","actions,atc2609a-ldo";
				regulator-name = "ldo3";
				regulator-min-microvolt  = <700000>;
				regulator-max-microvolt = <2200000>;
				regulator-always-on;
			};

			ldo4: ldo4{
				compatible = "actions,atc2609a-ldo4","actions,atc2609a-ldo";
				regulator-name = "ldo4";
				regulator-min-microvolt  = <700000>;
				regulator-max-microvolt = <2200000>;
				regulator-always-on;
			};

			ldo6: ldo6{
				compatible = "actions,atc2609a-ldo6","actions,atc2609a-ldo";
				regulator-name = "ldo6";
				regulator-min-microvolt  = <850000>;
				regulator-max-microvolt = <2200000>;
				regulator-always-on;
			};

			ldo7: ldo7{
				compatible = "actions,atc2609a-ldo7","actions,atc2609a-ldo";
				regulator-name = "ldo7";
				regulator-min-microvolt  = <700000>;
				regulator-max-microvolt = <2200000>;
			};

			ldo8: ldo8{
				compatible = "actions,atc2609a-ldo8","actions,atc2609a-ldo";
				regulator-name = "ldo8";
				regulator-min-microvolt  = <2100000>;
				regulator-max-microvolt = <3300000>;
			};

			ldo9: ldo9{
				compatible = "actions,atc2609a-ldo9","actions,atc2609a-ldo";
				regulator-name = "ldo9";
				regulator-min-microvolt  = <2600000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};

	i2c4: i2c@e0178000 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c4>;
		status = "okay";
		//gslX680@40 {
		//	compatible = "gslX680";
		//	reg = <0x40>;
		//	tp_vcc = "ldo8";
		//	reset_gpios = <&gpiob 14 1>;/*GPIOB(14) 0: high, 1: low*/
		//	x_pixel = <1536>;
		//	y_pixel = <2048>;
		//	x_revert_en = <1>;
		//	y_revert_en = <0>;
		//	xy_swap_en = <0>;
		//	rotate_degree = <0>;     /* 0 90 180 270 */
		//	interrupt-parent = <&sirq>;
		//	interrupts = < 0 0x4 >; /*SIRQ0*/
		//	vol_range = <3100000 3110000>;
		//};


		tc358860@60 {
			compatible = "actions,edp2dsi_i2c";
			tc358860-supply = <&ldo8>;
			reg = <0x0e>;
		};
};
	leds-gpio{
		compatible = "gpio-leds";
		power-on {
			gpios = <&gpiod 18 0>;/*GPIOD(18) 0: high, 1: low*/
			label = "power_led";
			default-state = "on";
			linux,default-trigger = "power-on";
		};
	};

	gpiokeys {
		compatible = "gpio-keys-polled";
		poll-interval = <20>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_lvds_e>;

	  menu {
			gpios = <&gpiod 13 0>; /* GPIOD13 */
			keycode = <316>;
			label = "menu";
		};
		nibiru {
			gpios = <&gpiod 12 0>; /* GPIOD12 */
			keycode = <110>;    /*KEY_BUTTON_MODE*/
			label = "nibiru";
		};
	};


	serial3: uart@e0126000 {
		dmas = <&dma DMA_DRQ_UART3_TX>, <&dma DMA_DRQ_UART3_RX>;
		dma-names = "tx", "rx";
		status = "okay";
	};
	//serial5: uart@e012a000 {
	//	pinctrl-0 = <&serial5_state_default>;
	//	status = "ok";
	//};



	//flashlight {
	//	compatible = "flashlight";
	//	flashlight-enable = <&gpioa 23 1>; /* GPIOA0 */
	//	flashlight-flash  = <&gpioa 24 1>; /* GPIOA1 */
	//	status = "okay";
	//};

	//hdmiin {
	//	compatible = "tc358749";
	//	hdmiin-int-gpios = <&gpioa 27 1>;
	//	status = "okay";
	//};

	//isp0: isp@e0270000 {
	//	mirror_flip = <10>;  /* 1: no flip,horizontal mirror for gc2755; */

	//	rear-avdd-src = "gpio";  /* only: "gpio", "regulator" */
	//	rear-avdd-gpios = <&gpiob 9 1>; /* only when vbus-src is "regulator" */
	//	front-avdd-src = "gpio";  /* only: "gpio", "regulator" */
	//	front-avdd-gpios = <&gpioa 18 1>; /* only when vbus-src is "regulator" */
	//	dvdd-src = "regulator";  /* only: "gpio", "regulator" */
	//	dvdd-regulator = "ldo7";
	//	dvdd-regulator-scope = <1200000 1210000>;  /* uV */

	//	board_type = "ces";/* "ces" or "evb"*/
	//	sensors = "dual"; /* "dual", "front" or "rear" */
	//	pwdn-rear-gpios = <&gpioa 2 1>; /* GPIOA1 */
	//	pwdn-front-gpios = <&gpioa 0 1>; /* GPIOE26 */
	//	rear-reset-gpios = <&gpiob 15 1>; /*GPIOE22*/
	//	front-reset-gpios = <&gpiob 14 1>; /*GPIOE27*/

	//	pinctrl-names = "default";
	//	pinctrl-0 = <&mipi_csi0_state_default>, <&mipi_csi1_state_default>;

	//	status = "okay"; /* create platform-device */
	//	rear_mipi_configs = <&configr>;
	//	front_mipi_configs = <&configf>;

	//	configr: rear_configs {
	//		clk_settle_time = <21>;
	//		clk_term_time = <1>;
	//		data_settle_time = <21>;
	//      	data_term_time = <1>;
	//		lane0_map = <0>;
	//       	lane1_map = <1>;
	//        	lane2_map = <2>;
	//        	lane3_map = <3>;
	//	};

	//	configf: front_configs {
	//		clk_settle_time = <21>;
	//		clk_term_time = <1>;
	//		data_settle_time = <21>;
	//        	data_term_time = <1>;
	//		lane0_map = <0>;
	//        	lane1_map = <1>;
	//        	lane2_map = <2>;
	//        	lane3_map = <3>;
	//	};
	//};

	//sensors: isp-sensor {
	//	compatible = "sensor_common";
	//	rear_i2c_adapter = <&i2c4>; /* 0-3 begin from enabled ones */
	//	front_i2c_adapter = <&i2c0>; /* 0-3 begin from enabled ones */

	//	status = "okay";
	//};

	framebuffer {
		compatible = "actions,framebuffer";

		ovl_boot {
		        usage = "boot";
		        disp_dev = <&panel_tc358860>;
		};

		ovl_extra {
		        usage = "extra";
		};
	};

	edp: edp@e02e0000 {
		panel_configs = <&config0>;

		/*
		 * edp_configs, used to configure edp controller,
		 * its values should set according to edp panel's spec.
		 * Currently, the configration is for lg-lp097qx1 panel.
		 */
		config0: edp_configs {
			link_rate = <1>;	/* 0, 1.62G; 1, 2.7G; 2, 5.4G */

			lane_count = <4>;
			lane_polarity = <0x00>;	/* bit 0~3 map for data lanes' polarity,
						   bit 4 map for aux lanes' polarity,
						   0 normal, 1 reversed */
			lane_mirror = <0>;	/* lane mirror, 0 lane0~3, 1 lane3~0 */

			mstream_polarity = <0x3>;/* bit map for mstream's polarity,
						   bit1: vsync, bit0 hsync */
			user_sync_polarity = <0xc>;/* bit map for user sync's polarity,
						    * bit3: sync signal polarity,
						    * bit2: enable signal polarity,
						    * bit1: vsync polarity,
						    * bit0: hsync polarity
						    */

			pclk_parent = <1>;	/* 0, ASSIST_PLL, 1, DISPLAY PLL */
			pclk_rate = <264000000>;/* 250MHz, ASSIST_PLL, divider 2 */
		};

		/* sharp-tc358860 edp2dsi panel */
		panel_tc358860: edp_panel {
			compatible = "actions,panel-tc358860";

			/* panel's fixed info */
			width_mm = <68>;
			height_mm = <121>;
			bpp = <24>;

			is_primary = <1>;
			hotplugable = <0>;
			hotplug_always_on = <0>;

			/* operation delay in ms */
			power_on_delay = <10>;
			power_off_delay = <0>;
			enable_delay = <10>;
			disable_delay = <0>;
			vsync_off_us=<0>;

			/*
			 * property val of the display effects of panel.
			 * range is 0~100.
			 */
			gamma_r_val = <100>;
			gamma_g_val = <100>;
			gamma_b_val = <90>;

			power-gpio = <&gpioa 9 1>; /* tc358860 power, active low */
			power1-gpio = <&gpioa 8 0>; /* panel vddio, active high */
			power2-gpio = <&gpioa 11 0>; /* panel vsp, active high*/

			reset-gpio = <&gpioa 6 1>; /* tc358860 reset, active low */
			reset1-gpio = <&gpioa 20 1>; /* panel reset, active low */

			videomode-0 = <&mode0>;

			/* 1440x2560p60 */
			mode0: videomode {
				refresh_rate = <60>;

				xres = <1440>;
				yres = <2560>;

				/*
				 * pclk_rate = 200MHz, ASSIS_PLL, divider 2.5
				 * pixel_clock = picoseconds / pclk_rate
				 */
				pixel_clock = <5000>;

				hbp = <170>;
				hfp = <80>;
				hsw = <40>;

				vbp = <6>;
				vfp = <8>;
				vsw = <2>;

				/* 0: FB_VMODE_NONINTERLACED, 1:FB_VMODE_INTERLACED */
				vmode = <0>;
			};
		};
	};

//	leds-gpio{
//		compatible = "gpio-leds";
//		charging {
//			gpios = <&gpiob 8 0>;/*GPIOB(8) 0: high, 1: low*/
//			label = "charging_led";
//			default-state = "off";
//			linux,default-trigger = "battery-charging";
//		};
//	};

	de@e02e0000 {
		gamma_adjust_needed = <0>;
	};

	backlight {
		compatible = "actions,owl-pwm-backlight";

		/* GPIOA14, active high */
		en-gpios = <&gpioa 14 0>;

		/*1.pwm num; 2. period in ns; */
		/*3.plarity, 0: high active, 1: low active*/
		pwms = <&pwm 2 50000 0>;

		total_steps = <1024>;
		min_brightness = <100>;
		max_brightness = <1000>;
		dft_brightness = <500>;

		delay_bf_pwm = <0>; /*in ms*/
		delay_af_pwm = <200>; /*in ms*/
	};
	wifi_bt_power_ctl {
		compatible = "wifi,bt,power,ctl";

		wifi_bt_power_gpios = <&gpiod 9 0>; /*  GPIOd9 */
		bt_en_gpios = <&gpiod 5 0>;/*GPIOd2 high active*/  /*M3305 A17 reset pin*/
		wifi_en_gpios = <&gpiod 6 0>; /* GPIOd9*/
		wifi_wakeup_host_gpios = <&gpiod 0 0>; 	/* GPIOD0 */
	};


	monitor {
		compatible = "actions,s900-usbmonitor";
		detect_type = <3>; /* config what to detect, 0:DISABLE ; 1:DEVICE_ONLY; 2:HOST_ONLY; 3: HOST_AND_DEVICE*/
		idpin_type   = <0>; /* 0:use ic's idpin;      1:soft idpin,##no support!##;       2:gpio idpin,use gpio to detect,need to add a "idpin_gpio" configuration */
		vbus_type   = <2>; /* 0:use ic's vbuspin; 1:gpio vbus,##no support!## ;      2:use dc5v to detect vbus level*/

		/*vbus_otg_en_gpio is use to turn on/off otg vbus,it's different from vbus detect gpio;*/
		vbus_otg_en_gpios = <&gpioa 5 0>;  /* GPIOD1,  1: low active; 0: high active */
		status = "okay";
	};


	owl_usb_config {
		compatible = "actions,owl-usb-config";
		usb_serialnumber_config = <1>; /* config serialnumber string format, 0: fixed serial no in ascii format; 1: fixed serial no in unicode format; 2:non-fixed serial no in unicode format*/
		usb_hs_output_strength = <3>; /*defaut:3,range:0~7; 0:min,7:max;usb high speed(2.0)transmitter output strength*/
		status = "okay";
	};

 	usb2h0: usb@e02b0000 {
		/*vbus_otg_en_gpio = <&gpiod 9 1>; *//*GPIO D19*/
		port_host_plug_detect = <1>;
		status = "okay";
	};

	usb2h1: usb@e02c0000 {
		vbus_otg_en_gpio =<&gpioa 23 0>; /*note:delete GPIO D18 because usb3.0 use the same GPIO with usb2h1*/
		port_host_plug_detect = <1>; /*0:disable 1:enable and vbus contrl 2:only detect*/
		//aotg_wake_lock = <1>; /*keep wake_lock,prevent suspend*/
		status = "okay";
	};


	gpu@e0600000 {
		gpu-supply = <&eta355c>;

		operating-points = <200000  825000
		                    264000  850000
							352000  875000
							440000  925000
		                    528000  950000
		                    600000  1000000>;

		default_max_level = <4>;
		default_min_level = <0>;
	};

	pcm-audio{
		compatible = "actions,pcm-audio";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&pcm1_state_default>;
	};
};
